{% block html_head_container %}

	{% include 'base/html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

<body class="{{body_class}}">
<div itemscope itemtype="http://schema.org/LocalBusiness" id="wrapper">

	{% include 'base/header/index.twig' %}

	{% block body_content %}
		{% include 'base/content/index.twig' %}
	{% endblock %}

	{% include 'base/footer/index.twig' %}

</div>
</body>
</html>